span.css-10trblm.e1nzilvr0{
    color:red;
    display:grid;
    justify-content:center;
}
div.user-select-none.svg-container{
    margin-left:0px;
}
div.css-zt5igj.e1nzilvr3{
    margin-top:0px;
}
div.user-select-none.svg-container{
    padding-top:0px;
}
div.appview-container.css-1wrcr25.ea3mdgi6{
    padding-top:0px;
}
div.block-container.css-z5fcl4.ea3mdgi4{
    margin-top:0px;
}
